/* style.css */
.start { /*オープニングアニメーション*/
    text-align: center;
    padding-top: 200px;
    background:#ffffff;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
}
.start img {
    vertical-align: middle;
    display: none;  /*読み込み時に一瞬表示させるのを防ぐ*/
    top: 0;
    left: 0;
    z-index: 6;
    width: 500px;
}

body{
    line-height:1.7;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222;
    background-color: #aaa;
    
}

/*header共通*/
header{
    box-sizing: border-box;
    display: flex;
    height: 80px;
    background-color: #ffffff;
    border-top:solid 2px #000;
    border-bottom:solid 2px #000;
    margin: 10px 0px 30px 0px;
}
header h1{
    padding:0px;
    margin: 0px auto 0px 30px;
    height: 100%;

}
header h1 img{
    height: 100%;
    width:auto;
}
header nav{
    margin: auto 10px 0px auto;
}
header ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
}
header ul li a,
header ul li a:link,
header ul li a:visited{
    color: #222;
    display: block;
    padding:5px 5px;
    width:100px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s linear;
    border: solid 2px #222;
    border-radius: 14px;
    margin: 0px 5px;
}
header ul li a:hover{
    color: #aaa;
}

/*fotter共通*/
fotter p{
    text-align: center;
}

/*main共通*/
main{
    width: 1000px;
    margin: 100px auto;
}

main .text-div{
    width: 500px;
    margin: 100px auto 100px auto;
}

main .text-div h2{
    text-align: center;
}

main .text-short-div{
    width: 500px;
    margin: 100px auto 100px auto;
}
main .text-short-div h2{
    text-align: center;
}
main .text-short-div p{
    text-align: center;
}

main .ul-div{
    width: 500px;
    margin: 70px auto;
}

main .ul-div h2{
    text-align: center;
}


/*index.html*/
.index main{
    margin: 50px auto;
}

.index main p{
    display: block;
    height: 666px;
    background: url("../images/index.jpg");
    background-repeat: no-repeat;
    font-size: 60px;
    text-align: center;
    color: rgb(245, 241, 9);
    padding: 200px 0px 200px 0px;
}

/*about-nuai.html*/
.about-nuai header #about-nuai{
    text-decoration: underline;
}

/*activity.html*/
.activity header #activity{
    text-decoration: underline;
}

.activity main #activity-report h2{
    text-align:center;
}
.activity main .report{
    width: 600px;
    border-top: solid 1px #000;
    margin: 0px auto;
}
.activity main .report:last-child{
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}
.activity main .report h3{
    text-align: center;
}
.activity main .report ul{
    width:500px;
    margin: 0px auto;
}
.activity main .report p{
    width:500px;
    margin: 0px auto;
}



/*contact.html*/
.contact header #contact{
    text-decoration: underline;
}

